language: cpp

cache:
  apt: true

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - sourceline: "http://ppa.launchpad.net/shimmerproject/ppa/ubuntu xenial main"
    packages:
    - gcc-4.9
    - g++-4.9
    - clang-3.5
    - clang-3.5
    - libboost1.58-dev

compiler:
  - g++-4.9
  - clang++-3.5

before_script:
  - mkdir build
  - cd build
  - cmake ..

install:
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.5"; fi
  - if [ "$CXX" == "g++" ]; then export CXX="g++-4.9"; fi

script: 
  - make ut-run
