language: cpp

cache:
  apt: true

addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
    - clang-3.5
    - libboost1.55-all-dev

compiler:
  - g++
  - clang++


install: cmake . && make fcl_tests
script: make ut-run
